[package]
name = "bevy_panorbit_camera"
version = "0.1.2"
authors = ["Plonq"]
edition = "2021"
description = "A basic pan and orbit camera in Bevy"
keywords = ["gamedev", "bevy", "orbit", "camera"]
categories = ["game-development"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/Plonq/bevy_panorbit_camera"
homepage = "https://github.com/Plonq/bevy_panorbit_camera"
readme = "README.md"

[dependencies]
bevy = { version = "0.10.0", default-features = false }
bevy_easings = "0.10.0"

[dev-dependencies]
bevy = { version = "0.10.0", default-features = false, features = ["bevy_core_pipeline", "bevy_pbr", "bevy_asset"]}
